<div class="container">
  <div class="page-header">
    <h1>Orders</h1>
  </div>

  <table class="table">
    <thead>
      <th>Order #</th>
      <th>Customer</th>
      <th>Payment Status</th>
      <th>Fulfillment Status</th>
      <th>Total</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.customer %></td>
          <td><%= order.payment_status %></td>
          <td><%= order.fulfillment_status %></td>
          <td><%= order.total_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
